style "windowbg"
{
   engine "pixmap"
   {
        image
        {
                function = FLAT_BOX
				recolorable		= TRUE
                file = "WindowBg/6.png"
                border = {0, 0, 0, 0}
				stretch = FALSE
         }
   
     }

 }

class "GtkWindow" style "windowbg"
